@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>

<div class="container">
    <div class="content-top">
        <h1>NEW RELEASED</h1>
        <div class="grid-in">
            @foreach (var item in Model)
            {
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="@Url.Content("~/Content/img_SanPham/laptop/"+item.HinhAnh)" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>T-Shirt</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="single.html">Contrary to popular</a></p>
                </div>
            }
        </div>
    </div>
</div>
